//------------------------------------------------------------------------------
// Windows resources.
//------------------------------------------------------------------------------

#include "resource.h"

// Path is relative to this .rc file
IDI_APPICON ICON "../../icons/icon.ico"
