<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.vulkan.level" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x00401000" android:required="false" />

    <application
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="false"
        android:label="Methane"
        android:theme="@style/Theme.Methane">

        <activity
            android:name="com.google.androidgamesdk.GameActivity"
            android:exported="true"
            android:screenOrientation="nosensor"
            android:resizeableActivity="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode"
            android:theme="@style/Theme.Methane">
            <meta-data android:name="android.app.lib_name" android:value="methane" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
